<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RoomRak</title>
    
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap" rel="stylesheet">
    
    <script src="https://cdn.tailwindcss.com"></script>
    
    <link rel="stylesheet" href="../../static/css/style.css">
    
</head>


<body>
    <header class="bg-white fixed top-0 w-full z-50">
        <div class="header-custom mx-auto py-0 flex items-center justify-between">
            <div class="flex items-center"> 
                <div class="rounded-12 overflow-hidden">
                    <img src="{{ url_for('static', filename='images/image2.jpg') }}" 
                        alt="RoomRak Logo" 
                        class="object-contain" 
                        style="width: 142px; height: 69px;"> 
                </div>
            </div>
           <nav class="flex gap-8 items-center pr-6">
                {% if current_user.is_authenticated %}
                    <a href="{{ url_for('main.home') }}" class="nav-link-custom"> Home </a>
                    
                    <a href="{{ url_for('booking.new_booking') }}" class="nav-link-custom"> Book Room </a>
                    <a href="{{ url_for('history.my_bookings') }}" class="nav-link-custom"> My History </a>

                    {% if current_user.is_professor %}
                        <a href="{{ url_for('approval.pending_requests') }}" class="nav-link-custom text-red-600 font-bold"> Approve Requests </a>
                    {% endif %}

                {% else %}
                    <a href="{{ url_for('main.index') }}" class="nav-link-custom"> Home </a>
                {% endif %}

                <a href="{{ url_for('main.about_us') }}" class="nav-link-custom" id="navAbout"> About Us </a>

                {% if current_user.is_authenticated %}
                    <a href="{{ url_for('main.logout') }}" class="nav-button-custom"> Log Out </a>
                {% else %}
                    <a href="{{ url_for('main.login') }}" class="nav-button-custom"> Log In </a>
                {% endif %}
            </nav>
        </div>
    </header>
    <div id="content">
        {% block content %}
        {% endblock %}
    </div>
</body>